@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  --primary: #f5f0f6;
  --primary-darker: #e6e6e6;
  --secondary: #333;
  --accent-light: #ff8c87;
  --accent-dark: #c63d3b;
  --bg-dark: rgb(30, 10, 30);
  /* --accent: #ffa700;
  --complimentary: #0058ff; */
  /* --accent: #affc41; */
  --accent: #8ff104;
  --accent-2: #8e41fc;
  --complimentary: #8e41fc;

  --accent-secondary: lightblue;

  --font-primary: "Rubik Mono One", sans-serif;
  --font-secondary: "Inria Serif", serif;
  --font-tertiary: "Montserrat", sans-serif;

  --text-dark: #272727;
  --text-light: #f5f0f6;
  --text-secondary: gray;
}

.root {
  width: 100%;

  min-height: 100vh;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

button {
  font-family: var(--font-primary);
}

a {
  color: var(--primary-lighter);
  text-decoration: none;
  font-family: var(--font-family-secondary);
  font-weight: 700;
  text-decoration: underline;
}

p,
li,
span {
  font-family: var(--font-secondary);
}

p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
}
p.highlight {
  color: var(--accent);
  font-weight: 500;
}

p.primary {
  font-weight: 500;
  font-size: 1.4rem;
}

hr {
  border: solid 1px var(--accent);
  height: 1px;
  width: 100%;
  grid-column-start: 2;
  grid-column-end: span 10;

  background-color: var(--accent);
  margin: 2rem 0;
}

button {
  padding: none;
  border: none;
  outline: none;
  margin: none;
}

img.point-icon {
  width: 2rem;
  height: auto;

  filter: brightness(0) invert(1);
}

h3 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

/* Nav */

nav {
  height: 5rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  display: flex;

  justify-content: flex-start;

  align-items: center;
  padding: 0 1%;
  z-index: 1;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 2rem;
  max-width: 1200px;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  transition: 0.2s;
}

.nav-link:hover {
  color: var(--accent-2);
  text-decoration: underline;
  text-decoration-thickness: 0.25rem;
}

.mobile-menu-button {
  display: none;
}

@media (max-width: 768px) {
  ul.mobile-hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }
  nav ul {
    flex-direction: column;
    /* Adjust styles for mobile */
    position: fixed;
    top: 0rem;
    left: 0;
    padding: 2rem 0;
    z-index: -1;

    width: 100%;
    background-color: var(--primary);
    transform: translateY(0px);
    transition: transform 0.3s ease-in-out;
  }
  .mobile-menu-button {
    display: block;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--bg-dark);

    background-color: transparent;
    cursor: pointer;
    z-index: 2;
  }
}
nav a {
  font-family: var(--font-primary);
  font-weight: 200;
}
/* Footer */

footer {
  margin-top: 5rem;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 1200px;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1%;
  z-index: 1;
  margin: 0 auto;
  flex-wrap: wrap;
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.footer-links a,
footer p {
  text-decoration: none;
  color: var(--text-secondary);
  font-size: 1rem;
  font-family: var(--font-tertiary);
  font-weight: 700;

  transition: 0.2s;
}
.footer-links a:hover {
  color: var(--accent-2);
  text-decoration: underline;
  text-decoration-thickness: 0.25rem;
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}
/* buttons */

.btn {
  padding: 1rem 2rem 1rem 1rem;
}
.btn-primary {
  background-color: var(--accent);
  color: var(--text-light);

  font-size: 1.2rem;
  font-weight: 400;
}

/* 404 */

.not-found {
  width: 100%;
  height: 100vh;
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  align-items: center;
}

/* Background */
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  background: linear-gradient(
    140deg,
    rgba(255, 167, 0, 1) 0%,
    var(--accent-2) 50%
  );
  opacity: 0.7;
}

.background:before {
  content: "";
  position: absolute;
  width: 200rem;
  height: 200rem;
  border-radius: 50%;
  background-color: var(--accent-2);
  background: rgb(255, 167, 0);
  background: linear-gradient(
    140deg,
    rgba(255, 167, 0, 1) 0%,
    var(--accent-2) 50%
  );

  pointer-events: none;

  filter: blur(50px);
  background-size: 200% 200%;
  animation: moveCircles 20s ease-out infinite;
  z-index: -1;
}

@keyframes moveCircles {
  0% {
    transform: translate(-20%, -20%);
    opacity: 0.7;
  }
  50% {
    transform: translate(30%, 30%);
    opacity: 0.6;
  }
  100% {
    transform: translate(-20%, -20%);
    opacity: 0.7;
  }
}

/* container */

.container-flex {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15rem;
}

/* Grid container */
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0;
  margin-top: 0;

  margin: 0 auto;

  justify-items: center;
  align-items: center;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2rem;
  height: 100%;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.home-container {
  padding-top: 15rem;
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2rem;
  }
}
@media (max-width: 768px) {
  .home-container {
    padding-top: 5rem;
  }
}

/* Header */
.header {
  grid-column-start: 1;
  grid-column-end: span 12;
  grid-row-start: 1;
  grid-row-end: span 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2rem;
  padding-bottom: 15rem;
}

.header h1 {
  grid-column-start: 1;
  grid-column-end: span 12;
  grid-row-start: 1;
  grid-row-end: span 1;
  font-size: 3rem;
  font-weight: 400;

  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

/* offset p */
.header p {
  grid-column-start: 2;
  grid-column-end: span 10;
  grid-row-start: 2;
  grid-row-end: span 1;
  text-align: center;
}
.header a {
  grid-column-start: 6;
  grid-column-end: span 2;
  grid-row-start: 3;
  grid-row-end: span 1;
  justify-self: center;
  width: auto;
  text-decoration: none;
  font-family: var(--font-primary);
  background-color: var(--accent-2);
  color: var(--text-light) !important;

  text-transform: uppercase;
  color: black;
}

/* Philosophy */

.philosophy {
  grid-column-start: 1;
  grid-column-end: span 12;
  grid-row-start: 2;
  grid-row-end: span 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2rem;
}

.philosophy h2 {
  grid-column-start: 1;
  grid-column-end: span 12;
  grid-row-start: 1;
  grid-row-end: span 1;
  font-size: 2rem;
  text-align: center;
}

.philosophy p {
  grid-column-start: 2;
  grid-column-end: span 10;
  grid-row-start: 2;
  grid-row-end: span 1;
  text-align: center;
}

/* Points */

.points {
  grid-column-start: 1;
  grid-column-end: span 12;
  grid-row-start: 3;
  grid-row-end: span 1;
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;

  @media (max-width: 1200px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
  }
}
.point {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--bg-dark);
  color: var(--text-light);
  /* border: 3px solid black; */
}
/* Process */

.process {
  grid-column-start: 1;
  grid-column-end: span 12;
  grid-row-start: 4;
  grid-row-end: span 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2rem;
}
.process-container {
  @media (max-width: 768px) {
    padding-top: 2rem;
  }
}
.process h2 {
  grid-column-start: 1;
  grid-column-end: span 12;
  grid-row-start: 1;
  grid-row-end: span 1;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}
.philosophy h2,
.process h2 {
  font-family: var(--font-tertiary);
  font-weight: 700;
}

.points h3,
.process-item h3 {
  font-family: var(--font-tertiary);
  font-weight: 700;
}
.process p {
  grid-column-start: 2;
  grid-column-end: span 10;
  grid-row-start: 2;
  grid-row-end: span 1;
  text-align: center;
}
.process-list {
  grid-column-start: 1;
  grid-column-end: span 12;
  grid-row-start: 5;
  grid-row-end: span 1;
  display: grid;

  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2rem;

  /* @media (max-width: 1200px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
  } */
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
  }
}
.process-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: center;

  border-radius: 1rem;
  padding: 2rem;
  background-color: var(--bg-dark);

  color: var(--text-light);
  /* border: 3px solid black; */
}
.gradient-overlay {
  grid-column-start: 1;
  grid-column-end: span 12;
  grid-row-start: 2;
  grid-row-end: span 1;

  width: 100%;
  height: 100%;
  pointer-events: auto;

  z-index: 1;
  /* background: rgb(255, 167, 0);
  background: linear-gradient(
    140deg,
    rgba(255, 167, 0, 1) 36%,
    rgba(255, 140, 135, 1) 100%
  ); */
  background-color: var(--accent);
  overflow: hidden;
  overflow-y: hidden;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.process-item p {
  text-align: left;
}

/* Bento box items */

.process-item.item-1 {
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: span 1;
}
.process-item.item-2 {
  grid-column-start: 4;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: span 1;
}
.process-item.item-3 {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 2;
  grid-row-end: span 1;
}
.process-item.item-4 {
  grid-column-start: 3;
  grid-column-end: span 2;
  grid-row-start: 2;
  grid-row-end: span 1;
}
.process-item.item-5 {
  grid-column-start: 5;
  grid-column-end: span 2;
  grid-row-start: 2;
  grid-row-end: span 1;
}
.process-item.item-6 {
  grid-column-start: 1;
  grid-column-end: span 6;
  grid-row-start: 3;
}
.process-item h3 {
  @media (max-width: 1100px) {
    font-size: 1.2rem;
  }
}
.footer-home a,
.footer-home p {
  color: var(--bg-dark);
  z-index: 2;
  pointer-events: auto;
}
